@model SportsStore.WebUI.Models.ProductDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.product.ProductID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product.ProductID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product.Price)
        </dd>

    </dl>
</div>


